* {
  box-sizing: border-box;
}

body {
  background-color: hsl(47, 88%, 63%);
  font-family: 'Figtree';
}

.grid-container {
  background-color: white;
  width: 450px;
  height: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 1.3rem 1.5rem;
  margin: auto;
  box-shadow: 10px 10px black;
}

#container {
  margin: 5rem 0;
}

img {
  display: block;
  width: 400px;
  border-radius: 15px;
}

.foot {
  width: 50px;
  height: 50px;
  display: block;
  margin-left: 0;
}

.category {
  display: block;
  background-color: hsl(47, 88%, 63%);
  width:fit-content;
  padding: .65rem;
  border-radius: 5px;
  font-weight: 900;
}

header {
  font-size: 25px;
  font-weight: 900;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: hsl(47, 88%, 63%);
  transition: color 1s ease-in-out;
}

.text {
  line-height: 1.5;
  font-size: 500;
}

.footer {
  display: flex;
  padding-top: 1rem;
}

h3 {
  padding-left: 1rem;
  font-weight: 900;
}

@media (max-width: 600px) {
  .grid-container {
    background-color: white;
    width: 370px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 1.3rem 1.5rem;
    margin: auto;
    box-shadow: 10px 10px black;
  }

  img {
  display: block;
  width: 300px;
  border-radius: 15px;
}
}