* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow Semi Condensed";
  background: hsl(214, 17%, 92%);
  color: white;
}

h2 {
  font-weight: 600;
}

p {
  line-height: 1.4rem;
}

.py-1 {
  padding-top: 1rem;
}
.py-2 {
  padding-top: 2rem;
}

@media (min-width: 768px) {
  .flex-container {
    display: flex;
    justify-content: space-between;
  }

  .first-flex {
    display: flex;
    align-items: center;
  }

  .first-flex img {
    border-radius: 50%;
  }

  .second-flex img {
    opacity: 0.8;
  }

  .flex {
    padding-left: 1rem;
  }

  #container {
    margin-top: 5rem;
  }

  .all-container {
    width: 1300px;
    display: flex;
    margin: auto;
    justify-content: center;
  }

  .grid-container {
    display: grid;
    width: 1440px;
    grid-template-columns: repeat(3, 310px);
    grid-gap: 1.5rem;
  }

  .first {
    background: hsl(263, 55%, 52%);
    width: 637px;
    height: 400px;
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 15px;
    padding: 2rem;
  }

  .second {
    background: hsl(217, 19%, 35%);
    padding: 2.5rem;
    border-radius: 15px;
    height: 400px;
  }

  .third {
    background: white;
    color: black;
    padding: 2rem;
    margin-left: 1.5rem;
    border-radius: 15px;
    box-shadow: 50px 50px 40px #b4b4b3;
  }

  .fourth {
    background: white;
    color: black;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 50px 50px 40px #b4b4b3;
  }

  .fifth {
    background: hsl(219, 29%, 14%);
    width: 637px;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 50px 50px 40px #b4b4b3;
  }

  .fifth .first-flex img {
    border: 3px solid hsl(263, 55%, 52%);
  }

  .first .first-flex img {
    border: 2px solid white;
  }
}

@media (max-width: 600px) {
  .all-container {
    width: 400px;
    display: grid;
    grid-template-columns: 3fr;
    grid-gap: 2rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  #container {
    width: 500px;
  }

  .grid-container {
    width: 400px;
    display: grid;
    grid-template-columns: 3fr;
    grid-gap: 2rem;
  }

  .second-flex img {
    display: none;
  }

  .flex {
    padding-left: 1rem;
  }

  .first-flex {
    display: flex;
    align-items: center;
  }

  .first-flex img {
    border-radius: 50%;
  }

  .fifth .first-flex img {
    border: 3px solid hsl(263, 55%, 52%);
  }

  .first .first-flex img {
    border: 2px solid white;
  }

  .first {
    background: hsl(263, 55%, 52%);
    width: 325px;
    height: 580px;
    border-radius: 15px;
    padding: 2rem;
  }

  .second {
    background: hsl(217, 19%, 35%);
    width: 325px;
    padding: 2.5rem;
    border-radius: 15px;
    height: 400px;
  }

  .third {
    background: white;
    color: black;
    width: 325px;
    padding: 2rem;
    border-radius: 15px;
  }

  .fourth {
    background: white;
    color: black;
    width: 325px;
    padding: 2rem;
    border-radius: 15px;
  }

  .fifth {
    background: hsl(219, 29%, 14%);
    width: 325px;
    padding: 2rem;
    border-radius: 15px;
  }
}
